:host {
  top: 0;
  position: fixed;
  z-index: 1050;
}

.navbar {
  box-shadow: 0 0 11px 0 #00000040;
}

a {
  position: relative;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  cursor: pointer;


  &.nav-link {
    transition: all .3s ease;

    &:hover:before, &:hover:after {
      position: absolute;
      top: 6px;
    }

    &:hover:before {
      content: '[ ';
      left: -6px;
    }

    &:hover:after {
      content: ' ]';
      right: -6px;
    }

  }
}

li.nav-item {
  .nav-link.active {

    color: var(--prim-dark);
    font-weight: 700;

    &:before, &:after {
      position: absolute;
      top: 6px;
    }

    &:before {
      color: var(--prim);
      content: '[ ';
      left: -6px;
    }

    &:after {
      color: var(--prim);
      content: ' ]';
      right: -6px;
    }
  }
}


button {
  min-width: auto !important;
  padding: .75rem;

  &:active, &:focus, &:hover{
    border: none;
    background: rgba(200, 200, 200, 0.5);
  }
}

.dropdown-toggle::after {
  display: none;
}
