<div class="d-flex flex-grow-1 flex-column">
  <object class="align-self-end" type="image/svg+xml" data="../../../../../assets/logos/logo_new.svg"></object>
  <div class="sub-heading overflow-hidden align-self-end">
    <span> <span class="word custom-space">Die&#32;</span></span>
    <span> <span class="word custom-space">Softwareschmiede&#32;</span></span>
    <span> <span class="word custom-space">aus&#32;</span> </span>
    <span> <span class="word custom-space">dem&#32;</span></span>
    <span> <span class="word">Stauferland</span></span>
  </div>
</div>
