<div class="d-flex flex-grow-1 flex-column">
  <div style="z-index: 3; min-height: 0" class="d-flex flex-grow-1 flex-column">
    <div class="d-flex flex-grow-1 flex-column" style="min-height: 0; height: 30rem">
      <div class="d-flex flex-grow-1 flex-column mr-3 p-3 align-items-center justify-content-center end-font mb-4">
          <span class="mb-4">
          Lorem ipsum dolor sit amet, sectetur adipiscing elit,<br> sed sadipscing elitr
          </span>
        <button type="button" class="btn btn-light btn-custom bright align-self-center" routerLink="/contact">
          Kontakt
        </button>
      </div>
    </div>
  </div>
</div>
