:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.section {
  @media (orientation: landscape) and (max-height: 450px) and (max-width: 767px) {
    height: 750px !important;
  }
  scroll-margin-top: 80px;
  margin-top: 80px;
  padding: 3rem 1rem 90px;
  height: auto;
  min-height: calc(100vh - 80px);
  display: flex;
  z-index: 4;
}
