:host {
  transition: transform .3s ease;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    transform: scale(1.15);
  }
}

.card {
  box-shadow: var(--box-shadow);

  width: 10rem;

  @media (min-width: 568px) {
    width: 10rem;
  }

  p {
    text-align: center;
    line-height: unset;
    font-size: 9px;
  }

  img {
    width: 3rem;
  }


}
